.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;

  padding-top: 30px;
  padding-bottom: 30px;

  z-index: 10;
  transition: all 0.5s ease-in-out;
  &--mod{
    border-bottom: 1px solid #9c9c9c;
    background: #FFFFFF;


    .menu-item .menu-link{
      color: #081f28;
    }

    .btn--header{
      background: #0f3a4c;
      color: #fff;
    }
  }


  &__fixed {
    padding-top: 10px;
    padding-bottom: 5px;
    background: #FFFFFF;
    box-shadow: 0 3px 5px rgba(57, 63, 72, 0.3);
    .logo-icon{
      color: #081F28;
    }

    .menu-link{
      color: #081f28;
    }

    .btn--header{
      background: #0F3A4C;
      color: #FFFFFF;
      @media (any-hover: hover) {
        &:hover {
          color: #FFFFFF;
          background: #517FAD;
          transition: 0.5s ease-in-out;
        }
      }
    }
    .hamburger {
      background: #081F28;

      .hamburger-menu .hamburger-line {
        background-color: #FFFFFF;
      }
    }
  }

  &__wrapper {
    position: absolute;
    background: #fff;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    opacity: 0;

    padding: 116px 15px 30px;
    transform: translateY(-100%);
    transition: all .5s;
    @media(min-width: 1024px) {
      opacity: 1;
      position: static;
      transform: translateY(0);
      display: flex;
      padding: 0;
      width: max-content;
      height: auto;
      background: transparent;
      flex-direction: row;
      align-items: center;
    }
  }

  &__navigation {
    margin-bottom: 15px;
    @media(min-width: 1024px) {
      margin-bottom: 0;
      margin-left: auto;
      margin-right: 60px;
    }
    @media(min-width: 1440px){
      margin-right: 150px;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0;
    @media(min-width: 1024px) {
      justify-content: space-between;
      flex-direction: row;
    }
  }

  &--open {
    .header__wrapper {
      transform: translateY(0);
      opacity: 1;
      overflow: auto;
    }
  }
}


