.address {
  padding-top: 198px;
  &__title {
    font-size: 32px;
    line-height: 38px;
    margin: 0;
    margin-bottom: 41px;
    @media(min-width: 767px){
      font-size: 48px;
      line-height: 58px;
      margin-bottom: 70px;
    }
  }
  &__content{
    margin-bottom: 20px;
    @media(min-width: 767px){
      margin-bottom: 40px;
    }
  }
  &__list{
    list-style: none;
  }
  &__item{
    padding: 30px 0;
    border-top: 1px solid #C4C4C4;
    @media(min-width: 767px){
      display: flex;
    }
    &>h4{
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      letter-spacing: 0em;
      text-align: left;
      color: #9c9c9c;
      margin-bottom: 10px;

      @media(min-width: 767px){
        flex: 1 1 50%;

      }
    }
    &>p{     
      font-family: "Inter", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 19px;
      letter-spacing: 0em;
      text-align: left;
      color: #081F28;
      @media(min-width: 767px){
        flex: 1 1 50%;
        font-size: 24px;
        line-height: 29px;
      }
    }
  }

  &__map{
    width: 100%;
    max-width: 1400px;
    height: 641px;

    border: none;
  }
}