.advantages {
  width: 100%;

  background-color: #0F3A4C;
}

.advantages__list {
  display: flex;
  list-style: none;
  flex-direction: column;
}  
.advantages__item{
  border-left: 1px solid #9c9c9c;
  border-bottom: 1px solid #9c9c9c;
  min-height: 230px;

  @media(min-width: 1200px){
    min-height: 252px;
  }
  &:not(last-child){
    margin-bottom: 30px;
  }
  &--mod{
    border: none;
  }
}
.advantages__name{
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  margin-bottom: 15px;

  padding-top: 16px;
  padding-left: 30px;

  width: 100%;
  min-width: 276px;
}
.advantages__text{
  font-family: "Inter", sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 17px;
  letter-spacing: 0em;
  text-align: left;
  color: #FFFFFF;
  width: 100%;
  min-width: 276px;

  padding-left: 30px;
  padding-bottom: 38px;
}
.advantages__item--image-big img,
.advantages__item--image-small img {
  object-fit: cover;
  object-position: center;
}

.advantages__item--image-big img {
  //width: auto;
  //height: 314px;
  width: 100%;
  height: 100%;
}

.advantages__item--image-small img {
  width: 100%;

  height: 100%;
}

.advantages__item:nth-of-type(4) {
  order: 7;
}

@media screen and (min-width: 560px) {
  .advantages__list {
    display: grid;

    grid-template: 
            "a b" auto
            "c c" auto
            "e f" auto
            "d g" auto / 1fr 1fr;

    column-gap: 15px;
    row-gap: 40px;
  }

  .advantages__item--image-big img {
    width: 100%;
    height: auto;
  }

  .advantages__item:nth-of-type(1) {
    grid-area: a;
  }

  .advantages__item:nth-of-type(2) {
    grid-area: b;
  }

  .advantages__item:nth-of-type(3) {
    grid-area: c;
  }

  .advantages__item:nth-of-type(4) {
    grid-area: d;
  }

  .advantages__item:nth-of-type(5) {
    grid-area: e;
  }

  .advantages__item:nth-of-type(6) {
    grid-area: f;
  }

  .advantages__item:nth-of-type(7) {
    grid-area: g;
  }
}

@media screen and (min-width: 1100px) {
  .advantages__list {
    display: grid;

    grid-template: 
            "a b c c" 252px
            "d e f g" 252px / 1fr 1fr 1fr 1fr;

    column-gap: 20px;
    row-gap: 50px;
  }
}