.btn {
  border: none;
  outline: none;
  transition: all 0.5s ease-in-out;

  font-family: "Druk Wide Cyr", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0em;
  text-align: center;

  cursor: pointer;

  &--header {
    color: #FFFFFF;
    background: #0F3A4C;
    border-radius: 50px;
    padding: 12px 27px 13px 28px;
    @media (any-hover: hover) {
      &:hover {
        color: #FFFFFF;
        background: #517FAD;
        transition: 0.5s ease-in-out;
      }
    }
    @media(min-width: 576px) {
      width: 100%;
      max-width: max-content;
      margin: 0 auto;
    }
    @media(min-width: 1024px) {
      background: #FFFFFF;
      color: #0F3A4C;
    }

    &--mod {
      background: #0F3A4C;
      color: #FFFFFF;
    }
  }

  &--service {
    background: #0F3A4C;
    padding: 19px 108px;
    color: #FFFFFF;
    transition: all 0.5s ease-in-out;
    @media(max-width: 374px){
      padding: 19px 80px;
    }
    @media(min-width: 768px) {
      display: none;
    }

    &-mod {
      display: none;
      @media(min-width: 768px) {
        display: block;

      }
      @media(any-hover: hover){
        &:hover{
          transition: all 0.5s ease-in-out;
          background: #517FAD;
        }
      }
    }
  }

  &--common {
    background: #0F3A4C;
    padding: 15.5px 55px;
    color: #FFFFFF;


    @media(any-hover: hover) {
      &:hover {
        transition: all 0.5s ease-in-out;
        background: #517FAD;
      }
    }
    @media(min-width: 320px) and (max-width: 370px) {
      padding: 15.5px 25px;
    }
  }

  &--download {
    color: #FFFFFF;

    padding: 16px 30px;

    display: flex;
    align-items: center;
    background: #517FAD;
    backdrop-filter: blur(4px);

    @media(min-width: 767px) {
      width: 100%;
      max-width: 335px;

      padding: 16px 25px;
    }
    @media(any-hover: hover) {
      &:hover {
        transition: all 0.5s ease-in-out;
        background: #FFFFFF;
        color: #0F3A4C;

        & .start__icon {
          transition: all 0.5s ease-in-out;
          color: #0F3A4C;
        }
      }
    }
  }

  &--vacancies {
    width: 100%;

    background: #0F3A4C;
    color: #FFFFFF;
    padding: 15.5px 25px;
    transition: 0.5s ease-in-out;

    @media(any-hover: hover) {
      &:hover {
        background: #517FAD;
        transition: all 0.5s ease-in-out;
      }
    }
    @media(min-width: 576px) {
      max-width: 334px;
    }
  }
}