.card{
  &__list{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    @media(min-width: 1024px){
      gap: 20px 18px;
    }
  }

  &__item{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;

    padding: 40px 30px;
    background: rgba(156, 156, 156, 0.15);
    position: relative;
    flex: 1 1 calc((100% / 2) - 18px);
    @media(min-width: 1024px){
      justify-content: flex-start;
      padding: 50px 40px;
    }
    &--mod{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding-bottom: 0;
      flex: 1 1 100%;
      @media(min-width: 1024px){
        flex-direction: row;
      }
    }
  }
  &__title{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 29px;
    letter-spacing: 0em;
    text-align: left;
    color: #0F3A4C;
    margin-bottom: 50px;
    @media(min-width: 1024px){
      margin-bottom: 130px;
      &>br{
        display: none;
      }
    }
    @media(min-width: 1440px){
      margin-bottom: 170px;
    }
  }
  &__text{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    color: #081F28;
    width: 100%;
    max-width: 610px;
    margin-bottom: 30px;
    @media(min-width: 1024px){
      margin-bottom: 0;
      font-size: 18px;
      line-height: 27px;
    }
    &--mod{
      max-width: 575px;
    }
  }
  &__link{
    font-family: "Inter",sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 14px;
    letter-spacing: 0em;
    text-align: center;
    color: #0F3A4C;
    text-decoration: none;
    padding-bottom: 9px;
    border-bottom: 1px solid rgba(15, 58, 76, 0.2);
    text-transform: uppercase;
    transition: all 0.5s ease-in-out;

    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    max-width: fit-content;

    @media(any-hover: hover){
      &:hover{
        transition: all 0.5s ease-in-out;
        color: #517FAD;
        border-color: rgba(81,127,173, 0.2);
        &>.card__icon{
          transition: all 0.5s ease-in-out;
          color: #517FAD;
        }
      }
    }
    @media(min-width: 1024px){
      position: absolute;
      top: 55px;
      right: 40px;

    }
  }
  &__icon{
    margin-left: 10px;

    transition: all 0.5s ease-in-out;
    color: #0F3A4C;
  }
  &__img{
    margin-top: 50px;
    @media(min-width: 1440px){
      margin-top: 0;
      margin-left: 140px;
    }
  }
}