.arrow{

  &__prev{
    margin-right: 20px;
    cursor: pointer;


    &--story{
      @media(min-width: 1439px){
        margin-right: 0;
      }
    }

  }
  &__next{
    cursor: pointer;
  }
  &__icon{
    color: #0F3A4C;
    transition: all 0.5s ease-in-out;
    @media(any-hover: hover){
      &:hover{
        transition: all 0.5s ease-in-out;
        color: #517FAD;
      }
    }
  }
}