.slider__navigation{
  display: flex;
  &--info{
    margin-top: 20px;
  }
  &--history{
    @media(max-width: 767px){
      display: none;
    }
  }

  &--service{
    margin-top: 30px;
    margin-bottom: 40px;
    @media(min-width: 1440px){
      display: none;
    }
  }
}
